apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  name: spring-jms-bridge-prod
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
      - k3d-prod-values.yaml
    path: k8s/helm
    repoURL: https://github.com/rmortale/spring-jms-bridge.git
    targetRevision: v1.0.2
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
