---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-cm
data:
{{ (.Files.Glob (printf "config/%s/*" .Values.app.configPath)).AsConfig | indent 2 }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  clientkey.jks: |-
    {{ .Files.Get (printf "config/%s/truststore/clientkey.jks" .Values.app.configPath) | b64enc }}

