---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-cm
data:
{{ (.Files.Glob "config/devt/*").AsConfig | indent 2 }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  clientkey.jks: |-
    {{ .Files.Get "config/devt/truststore/clientkey.jks" | b64enc }}

